# ‚úÖ Corrig√© ‚Äì Mini TP Jour 1 : Suivi des employ√©s

In [ ]:
# Liste d'employ√©s
employes = [
    {"nom": "Alice", "service": "RH", "annee_embauche": 2015, "salaire": 2500},
    {"nom": "Bob", "service": "IT", "annee_embauche": 2012, "salaire": 3000},
    {"nom": "Chlo√©", "service": "Finance", "annee_embauche": 2021, "salaire": 2400},
    {"nom": "David", "service": "IT", "annee_embauche": 2010, "salaire": 3200},
    {"nom": "Emma", "service": "RH", "annee_embauche": 2018, "salaire": 2600}
]

## 1Ô∏è‚É£ Afficher tous les noms des employ√©s

In [ ]:
for e in employes:
    print(e["nom"])

## 2Ô∏è‚É£ Calculer et afficher l'anciennet√© de chaque employ√© (en 2025)

In [ ]:
for e in employes:
    anciennete = 2025 - e["annee_embauche"]
    print(f"{e['nom']} - {anciennete} ans")

## 3Ô∏è‚É£ Afficher les employ√©s ayant plus de 10 ans d‚Äôanciennet√©

In [ ]:
for e in employes:
    if 2025 - e["annee_embauche"] > 10:
        print(e["nom"])

## 4Ô∏è‚É£ Calculer le salaire moyen de l'entreprise

In [ ]:
total = sum(e["salaire"] for e in employes)
moyenne = total / len(employes)
print("Salaire moyen :", moyenne)

## 5Ô∏è‚É£ Afficher les employ√©s du service IT

In [ ]:
for e in employes:
    if e["service"] == "IT":
        print(e)

## 6Ô∏è‚É£ Fonction : employ√©s par service

In [ ]:
def employes_par_service(service):
    return [e for e in employes if e["service"] == service]

print(employes_par_service("RH"))

## üí° Bonus : Trier les employ√©s par salaire d√©croissant

In [ ]:
employes_tries = sorted(employes, key=lambda e: e["salaire"], reverse=True)
for e in employes_tries:
    print(e)

## üí° Bonus : Ajouter un nouvel employ√©

In [ ]:
nouveau = {"nom": "Luc", "service": "Finance", "annee_embauche": 2023, "salaire": 2800}
employes.append(nouveau)
print(employes[-1])

## üí° Bonus : Export simul√© des donn√©es

In [ ]:
for e in employes:
    print(f"{e['nom']} | {e['service']} | {e['annee_embauche']} | {e['salaire']} ‚Ç¨")